.landing {
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: -3rem;
  justify-content: center;
}
.social-items {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
  font-size: 1.7rem;
}
.box-social {
  display: grid;
  background-color: var(--gray-ligh);
  border-radius: 0.5rem;
  place-items: center;
  height: 36px;
  width: 36px;
}

.arrow-down {
  bottom: 2rem;
  position: absolute;
  font-size: 2rem;
}

.about-me {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
}
.about-me-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0 3rem;
}
@media all and (max-width: 768px) {
  .about-me-info {
    flex-direction: column;
  }
  h1 {
    font-size: 34px;
  }
}
.Skills {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.grid-skills {
  color: var(--black);
  width: 80%;
  font-size: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.group-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.n {
  font-size: 23%;
}
