.nav-menu {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.header {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  border-bottom: 1px solid var(--gray);
  font-size: 16px;
  padding: 0.58rem 0;
}
.skin {
  background-color: transparent;
  border: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  font-size: 22px;
  color: var(--black-ligh);
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .header {
    font-size: 0.8rem;
  }
}
